page-second {

    .bg{
       
            background: url('../../assets/imgs/sky-blue-background-wallpaper-6.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
          
    }
    .ion-itemx{
        opacity: 0.5;
    }
}
